<div #bodyFirst class="body-first">
    <!-- Carousel -->
    <acuw-carousel #carousel class="carousel">
        <acuw-carousel-item *ngFor="let item of carouselItems;index as i" class="carousel-item">
           
            <img  [src]="item.images" loading="lazy" />
            <p>{{item.des}}</p>
        </acuw-carousel-item>
    </acuw-carousel>

    <div class="roate-button-container">
        <button aria-label="privious button" (click)="carousel.previous()">
            Previous
        </button>
        <button aria-label="next button" (click)="carousel.next()">Next</button>
    </div>
</div>